[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "ohmyzsh"]
	path = ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "vim/pack/targets.vim"]
	path = vim/pack/plugins/opt/targets.vim
	url = https://github.com/wellle/targets.vim
[submodule "vim/pack/vim-fugitive"]
	path = vim/pack/plugins/opt/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim/pack/vim-airline"]
	path = vim/pack/plugins/opt/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "vim/pack/tmuxline.vim"]
	path = vim/pack/plugins/opt/tmuxline.vim
	url = https://github.com/edkolev/tmuxline.vim
[submodule "zsh/plugins/zsh-autosuggestions"]
	path = zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "zsh/themes/powerlevel10k"]
	path = zsh/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k
[submodule "zsh/plugins/zsh-vim-mode"]
	path = zsh/plugins/zsh-vim-mode
	url = https://github.com/softmoth/zsh-vim-mode
[submodule "vim/pack/plugins/start/vim-toml"]
	path = vim/pack/plugins/start/vim-toml
	url = https://github.com/cespare/vim-toml.git
[submodule "zsh/plugins/zsh-history-substring-search"]
	path = zsh/plugins/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search.git
[submodule "vim/pack/plugins/start/vim-surround"]
	path = vim/pack/plugins/opt/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vim/pack/plugins/start/ReplaceWithRegister"]
	path = vim/pack/plugins/opt/ReplaceWithRegister
	url = https://github.com/vim-scripts/ReplaceWithRegister
[submodule "vim/pack/plugins/start/vim-indent-object"]
	path = vim/pack/plugins/opt/vim-indent-object
	url = https://github.com/michaeljsmith/vim-indent-object
[submodule "vim/pack/plugins/start/vim-autoformat"]
	path = vim/pack/plugins/start/vim-autoformat
	url = https://github.com/vim-autoformat/vim-autoformat.git
[submodule "vim/pack/plugins/start/vim-cutlass"]
	path = vim/pack/plugins/opt/vim-cutlass
	url = https://github.com/svermeulen/vim-cutlass.git
[submodule "vim/pack/plugins/start/vim-yoink"]
	path = vim/pack/plugins/opt/vim-yoink
	url = https://github.com/svermeulen/vim-yoink
[submodule "vim/pack/plugins/start/vim-subversive"]
	path = vim/pack/plugins/opt/vim-subversive
	url = https://github.com/svermeulen/vim-subversive
[submodule "vim/pack/plugins/opt/suda.vim"]
	path = vim/pack/plugins/opt/suda.vim
	url = https://github.com/lambdalisue/suda.vim
[submodule "vim/pack/plugins/opt/sleuth"]
	path = vim/pack/plugins/opt/sleuth
	url = https://tpope.io/vim/sleuth.git
[submodule "vim/pack/plugins/opt/vim-textobj-entire"]
	path = vim/pack/plugins/opt/vim-textobj-entire
	url = https://github.com/kana/vim-textobj-entire.git
[submodule "vim/pack/plugins/opt/vim-textobj-user"]
	path = vim/pack/plugins/opt/vim-textobj-user
	url = https://github.com/kana/vim-textobj-user.git
[submodule "vim/pack/plugins/opt/lh-brackets"]
	path = vim/pack/plugins/opt/lh-brackets
	url = https://github.com/LucHermitte/lh-brackets
[submodule "vim/pack/plugins/start/lh-vim-lib"]
	path = vim/pack/plugins/start/lh-vim-lib
	url = https://github.com/LucHermitte/lh-vim-lib
[submodule "KvLibadwaita"]
	path = KvLibadwaita
	url = https://github.com/GabePoel/KvLibadwaita.git
