/*
  Generated via Harmonizer: https://harmonizer.evilmartians.com/#W1siMSIsNzAsbnVsbCwiMiIsNTUsbnVsbCwiMyIsNTUsbnVsbCwiNCIsNzAsbnVsbF0sWyJSZWQiLDI1LCJHcmVlbiIsMTU4LCJNdXN0YXJkIiw4MywiQmx1ZSIsMjU2LCJWaW9sZXQiLDMxNCwiQ3lhbiIsMjE4XSxbImFwY2EiLCJmZ1RvQmciLCJtYXgiLCIjZmZmIiwiIzFlMWUxZSIsMiwic3JnYiJdXQ
*/
:root {
  --dark-bg: #1e1e1e;
  --light-bg: white;
  --red-1: #ffb2ab;
  --red-2: #ff8880;
  --red-3: #fe615d;
  --red-4: #e60327;
  --green-1: #0ae08e;
  --green-2: #07c37b;
  --green-3: #04ac6c;
  --green-4: #028955;
  --mustard-1: #fbbb0c;
  --mustard-2: #daa20a;
  --mustard-3: #c28f06;
  --mustard-4: #9b7207;
  --blue-1: #a1c9fe;
  --blue-2: #71aefe;
  --blue-3: #4998ff;
  --blue-4: #0475e9;
  --violet-1: #e5b3ff;
  --violet-2: #d98cff;
  --violet-3: #d169ff;
  --violet-4: #bc02f5;
  --cyan-1: #03d7ff;
  --cyan-2: #09badd;
  --cyan-3: #07a5c4;
  --cyan-4: #08839d;

  --grey-1: #cfcfcf;
  --grey-2: #9e9e9e;
  --grey-3: #676c71;
  --grey-4: #44464d;
  --grey-5: #323639;
  --grey-6: #27292c;
}