/* @-moz-document url-prefix() { */
/*     * { */
/*         background-color: transparent !important; */
/*     } */
/* } */

/* @-moz-document url-prefix("http") { */
/*     :where(body) { */
/*         background-color: white; */
/*     } */
/* } */

@-moz-document url-prefix("about:") {
	:root {
		--newtab-background-color: transparent !important;
	}

	:root[lwt-newtab-brighttext] {
		background-color: transparent;
	}

	.outer-wrapper.only-search {
		display: flex !important;
		padding: var(--space-xxlarge) !important;
		padding-block-end: calc(var(--space-xxlarge) * 4) !important; 
	}

	.logo-and-wordmark .wordmark {
		background-size: contain !important;
		margin-inline-start: var(--space-xlarge) !important;
		width: 220px !important;
	}

	.no-recommended-stories .logo-and-wordmark {
		margin-block-end: calc(var(--space-xxlarge)*2) !important;
	}

	.logo-and-wordmark .logo {
		height: 120px !important;
		width: unset !important;
		aspect-ratio: 1 !important;
		background-size: contain !important;
	}
}

@-moz-document regexp("moz-extension://.*/sidebar/sidebar.html") {
	#root.root {
		--frame-bg: transparent !important;
		--toolbar-el-overlay-selected-bg: transparent !important;
		--nav-btn-len-margin: 3px !important;
		--nav-btn-width: 32px !important;
		--nav-btn-height: 32px !important;
		--general-border-radius: 8px !important;
		--tabs-pinned-height: 32px !important;
		--tabs-pinned-width: 32px !important;
		--toolbar-bg: transparent !important;

		&:where(-moz-window-inactive) {
			--frame-bg: -moz-headerbar-inactive !important;
		}
	}

	.left-vertical-box {
		padding: 0 7px 7px !important;
	}

	:root {
		background-color: transparent !important;
	}
}
