#sidebar-main {
    transition: width 0.3s 0.3s !important;
}

/* Hidden state: Hide native tabs strip */
/*#main-window[titlepreface*="​"] */
:root:has([sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]:not([hidden="true"])) {
    #sidebar-main {
        width: 0 !important;
    }

    #sidebar {
        border-radius: unset !important;
        box-shadow: unset !important;
        border: unset !important;
    }

    navigator-toolbar {
        border-bottom: none;
    }
}

@-moz-document url-prefix("moz-extension://b41b013c-e140-4120-8212-fc7d960ef9d5/sidebar/") {
    * {
        background: red
    }
    :-moz-window-inactive * {
        background: green;
    }
}

/* Remove sidebar header */
/*#sidebar-header {*/
/*    display: none;*/
/*}*/

/* Prettier, smaller sidebar on linux */
splitter.sidebar-splitter {
    width: 1px !important;
    border: none !important;
    background-color: var(--sidebar-background-color) !important;
}

#sidebar {
    border-radius: unset !important;
    box-shadow: unset !important;
    border: unset !important;
}

/* make extensions menu a little more compact */
#unified-extensions-panel .unified-extensions-item {
    margin-block: 0px !important;
}

/* Transparent Toolbar */
#navigator-toolbox {
    /*background: transparent;*/
}

:root {
    /*--toolbar-bgcolor: -moz-headerbar !important;*/
    /*--lwt-accent-color: transparent !important;*/
    /*--lwt-accent-color-inactive: transparent !important;*/
    /*--toolbar-field-background-color: transparent !important;*/

    &:where(-moz-window-inactive) {
        /*--toolbar-bgcolor: -moz-headerbar-inactive !important;*/
    }
}

/* Experiments: Wanted to turn sidebar transparent. It seems there is some sort
 * of hardcoded rule that forbids anything below the toolbar being transparent

* {
    background-color: transparent !important;
}

@-moz-document url("chrome://browser/content/webext-panels.xhtml") {
    * {
        background-color: transparent !important;
    }
}

@-moz-document url("moz-extension://b41b013c-e140-4120-8212-fc7d960ef9d5/sidebar/sidebar.html") {
    * {
        background-color: transparent !important;
    }
}

@-moz-document url-prefix() {
    * {
        background-color: transparent !important;
    }
}
*/
