#main-window #titlebar {
    overflow: hidden;
    transition: height 0.3s 0.3s !important;
}

/* Default state: Set initial height to enable animation */
#main-window #titlebar {
    height: 3em !important;
}

#main-window[uidensity="touch"] #titlebar {
    height: 3.35em !important;
}

#main-window[uidensity="compact"] #titlebar {
    height: 2.7em !important;
}

/* Hidden state: Hide native tabs strip */
#main-window[titlepreface*="​"] #titlebar {
    height: 0 !important;
}

/* Hidden state: Fix z-index of active pinned tabs */
#main-window[titlepreface*="​"] #tabbrowser-tabs {
    z-index: 0 !important;
}

#sidebar-header {
    display: none;
}

splitter.sidebar-splitter {
    width: 1px !important;
    border: none !important;
    background-color: var(--sidebar-background-color) !important;
}

/* make extensions menu a little more compact */
#unified-extensions-panel .unified-extensions-item {
    margin-block: 0px !important;
}

/* Transparent Toolbar */
#navigator-toolbox {
    background: transparent;
}

:root {
    --toolbar-bgcolor: transparent !important;
    --lwt-accent-color: transparent !important;
    --toolbar-field-background-color: transparent !important;
}

/* Experiments: Wanted to turn sidebar transparent. It seems there is some sort
 * of hardcoded rule that forbids anything below the toolbar being transparent

* {
    background-color: transparent !important;
}

@-moz-document url("chrome://browser/content/webext-panels.xhtml") {
    * {
        background-color: transparent !important;
    }
}

@-moz-document url("moz-extension://b41b013c-e140-4120-8212-fc7d960ef9d5/sidebar/sidebar.html") {
    * {
        background-color: transparent !important;
    }
}

@-moz-document url-prefix() {
    * {
        background-color: transparent !important;
    }
}
*/
